body {
    background-color: rgb(108, 238, 137);
}

.coinFlip {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: antiquewhite;
}

.diceRoll {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: antiquewhite;
}

.ticTacToe {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: rgb(223, 223, 223);
}