body{
    text-align: center;
    background-color: lightgreen;
}

.dice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 400px;
    padding: 35px;
    margin: 50px auto;
    border-radius: 10px;
}


.dice {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 7px black;
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px; 
    background-color: black;
    border-radius: 50%;

    /*Dice pattern*/
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.btn-roll-dice {
    margin-top: 15px;
}

#gameContainer {
    background-color: gold;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 0px auto;
    border-radius: 10px;
}

button {
    height: 50px;
    width: 150px;
    margin: 0 auto;
    font-size: 20px;
}
